[submodule "SecuritySystemUWP/usb-camera"]
	path = SecuritySystemUWP/usb-camera
	url = https://github.com/ms-iot/usb-camera
[submodule "SecuritySystemUWP/pir-sensor"]
	path = SecuritySystemUWP/pir-sensor
	url = https://github.com/ms-iot/pir-sensor
