[submodule "SecuritySystemUWP/usb-camera"]
	path = SecuritySystemUWP/usb-camera
	url = https://github.com/ms-iot/usb-camera
[submodule "SecuritySystemUWP/motion-sensor"]
	path = SecuritySystemUWP/motion-sensor
	url = https://github.com/ms-iot/motion-sensor
