/*Global*/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:rgb(26,26,27);
}
md-content {
  background-color:rgb(26,26,27);
}
.cardBlock {
  background-color: white;
}
a {
  color: #00B7FF;
}
#loginBlock {
  height:100vh;
}
.peripheral {
  height:200px;
}
.ng-scope {
  height: 100%;
}
#mainView {
  height:100vh;
}
#viewWindow {
  height: 92%;
}
#brandIcon {
  padding-right: 15px;
}
md-card {
  text-align: center;
  color:white;
  background-color:rgb(63,81,181);
}
a {
  color:white;
  text-decoration: none;
}
#pictureView {
  color: white;
}
#browseLeft > i {
padding-top: 14px;
padding-right:5px;
}
#browseRight  > i{
padding-top:14px;
padding-left:5px;
}
.danger {
  background-color: rgb(242,222,222);
}
md-sidenav > md-content {
  background-color: rgb(190,190,200);
}
md-toolbar {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index:200;
}
md-sidenav > md-toolbar {
  background-color: #1A237E;
  z-index:15;

}
md-sidenav {
  background-color: rgb(190,190,200);
}

#displayWindow {
  height:400px;
  width:500px;
  border:5px solid rgb(190,190,200);
}

/*Panels*/
#statusBlock {
  min-height:300px;
  background-color: rgb(0,195,35);
}

#statusBlock {
  color: white;
}

#homeInfo {
  background-color:rgb(248,248,248);
  color:black;
  text-align: center;
}
#homeInfo > h3 {
  color: black;
}

#lightSwitch {
background-color: #FF9800;
}
md-dialog {
  background-color: #FF9800;
  color:white;
}
md-dialog > h3{
  text-align: center;
}
.fakeLink {
  cursor: pointer;
}
#thermostat {
background-color: #9C27B0;
}
#co2 {
background-color: #673AB7;
}
#security {
background-color: #3F51B5;
}
#securityBody {
background-color: rgb(26,26,27);
}
#imageBorder {
background-color: rgb(36,36,37);
}
#lock {
background-color: #FF5722;
}
#radio {
background-color: #E91E63;
}
md-switch {
  margin-right: 0;
  margin-left:5px;
}
md-slider {
  margin: 20px;
  width:220px;
}
#datePicker {
  background-color:transparent;
  color:white;
  border: none;
  font-size:12px;
}
md-icon {
  padding-top:3px;
}
#datePicker {
  margin-left: 10px;
}
@media (min-width: 500px) and (max-width: 650px) {
  #buttonRow {
    text-align: center;
  }
  #buttonRow > button {
    margin-left:30px;
    margin-right:30px;
  }
}
@media screen and (max-width: 500px) {
  #displayWindow {
  height:200px;
  width:300px;
  border:5px solid rgb(190,190,200);
}
#buttonRow {
  text-align: center;
}
#buttonRow > button {
  margin-left:30px;
  margin-right:30px;
}
}