<% include partials/header.ejs %>
<div layout="row" layout-align="center center">
  <md-card>
    <md-card-content>
      <h1> Whoops... </h1>
      <h3> There's been an error: </h3>
      <h4>
        <%= message %>
        <%= error.status%>
      </h4>
    </md-card-content>
  </md-card>
</div>
<% include partials/footer.ejs %>