<% include partials/header.ejs %>
<md-content id="viewWindow">
  <div id="loginBlock" layout="column" layout-align="center center">
    <md-card>
        <md-button href="/auth">
          <md-icon md-svg-src="images/oneDrive_logo.svg"></md-icon>
          Sign in with OneDrive
        </md-button>
    </md-card>
  </div>
</md-content>
<% include partials/footer.ejs %>