<% include partials/header.ejs %>
<md-content id="viewWindow">
  <div id="loginBlock" layout="column" layout-align="center center">
    <md-card>
        <md-button class="btn btn-block btn-lg btn-social btn-github" href="/auth">
          <i class="fa fa-github"></i>
          Sign in with OneDrive
        </md-button>
    </md-card>
  </div>
</md-content>
<% include partials/footer.ejs %>