<div id="securityBody" layout-align-sm="center center" layout="vertical" >
  <md-sidenav class="md-sidenav-left" md-component-id="left"  md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar>
        <span>
        <h1 class="md-toolbar-tools">Photos
        <span flex></span>
        <input type="date" id="datePicker" ng-model="selectedDate" ng-change="scrollSpy(selectedDate)" name="date" list="thesedates">
          <datalist id="thesedates">
              <option ng-repeat="date in dayList[0] track by $index" label="{{dayList[1][$index]}}" value="{{date}}"></option>
          </datalist>
        <md-button ng-click="getImages()" class="md-mini md-fab md-primary">
          <i class="fa fa-refresh"></i>
        </md-button></h1>
        </span>
      </md-toolbar>
      <md-content infinitescroll="getImages()" id="content" ui-view layout-fill>
         <md-list class="list-group" id="mainList">
          <md-list-item class="md-2-line" id="{{image.day}}" ng-click="switchImage(image)" ng-repeat="image in images">
            <div class="md-list-item-text">
              <h3>{{::image.day}}</h3>
              <p>{{::image.date}}</p>
            </div>
          </md-list-item>
          <md-list-item ng-if="loading === true">
            Loading...
          </md-list-item>
        </md-list>
      </md-content>
  </md-sidenav>
  <div flex-offset="20" flex="80" layout="column" layout-align="center center" ng-if="loading === true">
    <md-progress-circular class="md-primary" md-diameter="75" md-mode="indeterminate"></md-progress-circular>
  </div>
  <div id="pictureView" layout-gt-sm="row" layout-xs="column" flex-offset-sm="20" flex-offset-gt-md="20" flex-gt-md="80" flex-md="100" layout-align-gt-md="space-around center" layout-align="space-around center" ng-if="loading === false">
    <div layout="column" layout-align="center">
      <md-button hide-sm show-gt-sm ng-disabled="imagePosition().first" id="browseLeft" class="md-fab md-primary" ng-click="browsePicture(-1)">
        <i class="fa fa-chevron-left fa-2x"></i>
      </md-button>
    </div>
    <md-card>
      <md-content id="imageBorder">
        <img id="displayWindow" src="{{imageUrl}}">
        <h2>{{viewImage.day}}</h2>
        <h3>{{viewImage.date}}</h3>
      </md-content>
    </md-card>
    <div id="buttonRow" layout-gt-md="column" layout-md="row" layout-align-md="space-around center">
       <md-button hide-gt-sm ng-disabled="imagePosition().first" id="browseLeft" class="md-fab md-primary" ng-click="browsePicture(-1)">
        <i class="fa fa-chevron-left fa-2x"></i>
      </md-button>
      <md-button ng-disabled="imagePosition().last" id="browseRight" class="md-fab md-primary" ng-click="browsePicture(1)">
        <i class="fa fa-chevron-right fa-2x"></i>
      </md-button>
    </div>

  </div>
</div>