<div id="securityBody" layout-align-sm="center center" layout="vertical" >
  <md-sidenav class="md-sidenav-left" md-component-id="left"  md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar>
        <span>
        <h1 class="md-toolbar-tools">Photos
          <span flex></span>
          <md-button ng-click="openTimeSelector()" ng-if="!emptyImage()" class="md-mini md-fab md-primary">
            <i class="fa fa-clock-o"></i>
          </md-button>
          <md-button ng-click="openCalendar($event)" class="md-mini md-fab md-primary">
            <i class="fa fa-calendar"></i>
          </md-button>
          <md-button ng-click="getImages(searchDate)" class="md-mini md-fab md-primary">
            <i class="fa fa-refresh"></i>
          </md-button>
        </h1>
        </span>
      </md-toolbar>
      <md-content id="content" ui-view layout-fill>
         <md-list class="list-group" id="mainList">
          <md-list-item class="md-2-line" id="{{image.day}}" ng-click="switchImage(image)" ng-repeat="image in images">
            <div class="md-list-item-text">
              <h3>{{::image.day}}</h3>
              <p>{{::image.date}}</p>
            </div>
          </md-list-item>
          <md-list-item ng-if="isLoading()">
            Loading...
          </md-list-item>
          <md-list-item class="md-2-line" ng-if="noPhotos()">
            <div class="md-list-item-text">
              <h3>No photos available.</h3>
              <p>Try picking a different time or date.</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
  </md-sidenav>
  <div flex-offset="20" flex="80" layout="column" layout-align="center center" ng-if="isLoading()">
    <md-progress-circular class="md-primary" md-diameter="75" md-mode="indeterminate"></md-progress-circular>
  </div>
  <div id="pictureView" layout-gt-md="row" layout-xs="column" flex-offset-md="5" flex-offset-lg="10" flex-offset-gt-lg="20" flex-gt-md="80" flex-md="100" layout-align-gt-lg="space-around center" layout-align="center center" ng-if="!isLoading()">
    <div layout="column" layout-align="center">
      <md-button hide show-gt-md ng-disabled="imagePosition().first" id="browseLeft" class="md-fab md-primary" ng-click="browsePicture(-1)">
        <i class="fa fa-chevron-left fa-2x"></i>
      </md-button>
    </div>
    <md-card>
      <md-content id="imageBorder">
        <img id="displayWindow" src="{{imageUrl}}">
        <h2>{{viewImage.day}}</h2>
        <h3>{{viewImage.date}}</h3>
      </md-content>
    </md-card>
    <div id="buttonRow" layout-gt-md="column" layout-md="row" layout-align-md="space-around center">
       <md-button hide-gt-md ng-disabled="imagePosition().first" id="browseLeft" class="md-fab md-primary" ng-click="browsePicture(-1)">
        <i class="fa fa-chevron-left fa-2x"></i>
      </md-button>
      <md-button ng-disabled="imagePosition().last" id="browseRight" class="md-fab md-primary" ng-click="browsePicture(1)">
        <i class="fa fa-chevron-right fa-2x"></i>
      </md-button>
    </div>

  </div>
</div>