  <div class="col-xs-12" id="sideNav">
    <div class="row stackRow">
      <div class="btn-group">
        <label ng-repeat="label in checkFilterModel track by $index" class="btn btn-success btn-sm" ng-class="btnClass[$index]" ng-model="checkFilterModel[$index]" ng-bind-html="dayList[$index]" btn-checkbox></label>
      </div>
        <a href="#!/" type="button" class="btn btn-info btn-sm pull-right">
          <i class="glyphicon glyphicon-home"></i>
        </a>
        <button class="btn btn-info btn-sm pull-right" ng-click="getImages()">
          <i class="glyphicon glyphicon-refresh"></i>
        </button>
    </div>
    <div class="row stackRow">
        <ul class="list-group" id="mainList">
          <li class="list-group-item fakeLink" ng-click="switchImage(image, true)" ng-repeat="image in images">
            <h4 class="list-group-item-heading">{{image.day}}</h4>
            <p class="list-group-item-text">{{image.date}}</p>
          </li>
        </ul>
    </div>
    <div class="row stackRow"></div>
  </div>