body {
  font: 14px 'Open Sans', sans-serif;
  background-color: rgb(255,255,255);
  color:black;
}
a {
  color: #00B7FF;
}
.cardBlock {
  margin-top: 125px;
  min-height:200px;
  min-width:300px;
  background-color: rgb(222,222,222);
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    font-size: 28px;
}

/*Sidenav*/

.stackRow {
  padding-top:5px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 5px;
}

#mainList {
  height: 85vh;
  max-height:750px;
  overflow: auto;
  background-color:rgb(105,105,105);
  margin-bottom: 0px;
}

#mainList > li {
  border: 1px solid rgb(145,145,145);
  background-color: rgb(210,210,210);
  color: rgb(24,24,25);
  padding-left: 45px;
}

#falseBadge {
  float:none;
  color:rgb(96,217,241); ;
}

#mainList > li > .badge > .glyphicon-record {
  color: rgb(96,217,241);
}

.btn-group {
  padding-left: 30px;
}

#subNavTitle {
  padding-left:30px;
}

#sideNav {
  position:fixed;
  z-index:100;
  background-color:rgb(244,244,244);
  max-height: 100vh;
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#motionFilterButton {
  color:black;
}

.fakeLink {
  cursor:pointer;
}
/*Navbar*/

.navbar {
  min-height: 73px;
}

.navbar-right {
  margin-right: 0px;
  padding-right: 10px;
  padding-top: 4px;
  font-size:23px;
  color: white;
}
.well {
  color:black;
  margin-bottom: 0px;
}

#hamburgerMenu {
  margin-right:1px;
  margin-right:0;
}

/*image*/

#browseButtons {
  padding-left:26%;
  color:black;
}

#browseButtons > button {
  margin-left:5px;
  margin-right:5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#displayWindow {
  box-shadow: .5px .5px 4px 2px rgba(0, 0, 0, 0.2);
  margin-top:75px;
  margin-left:50px;
  margin-bottom:10px;
  border:10px solid rgb(222,222,222);
  border-radius:3px;
}

.glyphicon-menu-left, .glyphicon-menu-right, #imageTitle {
  font-size: 20px;
}

.pull-right {
  margin-right: 10px;
}

#hiddenButtons {
  padding-left:200px;
}

@media (max-width: 1200px){
  #displayWindow {
    margin-left: 0;
  }
}

@media (max-width: 900px){
  #img {
    max-width:425px;
  }
}

@media (max-width: 700px) {

  img {
   max-width:425px;
  }

  #browseButtons {
    padding-left:15%;
    font-size: 15px;
    color:black;
  }

#displayWindow {
    margin-left: 70px;
  }
}

.btn-social {
  position:relative;
  padding-left:44px;
  text-align:left;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}
.btn-social>:first-child {
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  width:32px;
  line-height:34px;
  font-size:1.6em;
  text-align:center;
  border-right:1px solid rgba(0,0,0,0.2)
}
.btn-social.btn-lg{padding-left:61px;margin-top:35px !important}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github:hover,.btn-github:focus,.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{background-image:none}
.btn-github.disabled,.btn-github[disabled],fieldset[disabled] .btn-github,.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled:active,.btn-github[disabled]:active,fieldset[disabled] .btn-github:active,.btn-github.disabled.active,.btn-github[disabled].active,fieldset[disabled] .btn-github.active{background-color:#444;border-color:rgba(0,0,0,0.2)}
.btn-github .badge{color:#444;background-color:#fff}
.btn-facebook{color:#fff;;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}



@media (max-width: 500px) {
  #displayWindow {
    margin-left: 35px;
  }

  img {
   max-width:350px;
  }

  #browseButtons {
  padding-left:12%;
  font-size: 15px;
  color:black;
}

}